<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3><%= descriptions %></h3>
    <%- c%>
    <ul>
      <% people.forEach(item=>{%>
      <li>我的名字叫<%=item.name %>，我今年<%=item.age %></li>
      <%})%>
    </ul>
    <a href="/users">用户界面</a>
  </body>
</html>
